
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Segoe UI", Roboto, "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.pickr  {
    display: flex!important;
}

* {
    font-style: normal!important;
}